# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
dist/
eggs/
.eggs/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg

.pytest_cache
.tox
build/
django_easy_login/
test_app/
db.sqlite3
manage.py
.idea/