# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
dist/
eggs/
.eggs/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg

.pytest_cache
.tox
build/
db.sqlite3
.idea/
dev_settings.py